.env
__pycache__/
*.py[cod]
.venv/
venv/
data/
*.db
node_modules/
mening-shajaram/dist/
mening-shajaram/dev-dist/
adminapp/dist/
adminapp/dev-dist/
arduino-darslik/dist/
arduino-darslik/dev-dist/
dars-jadvali/dist/
dars-jadvali/dev-dist/
dars-jadvali/node_modules/
